gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never share these files on GitHub or other repositories
key.properties
**/*.keystore
**/*.jks
